body {
  font-family: Arial, sans-serif;
  background-color: #da7373;
  margin: 0;
  padding: 0;
  color: #e6dddd;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.input {
  color: rgb(142, 138, 138);
  padding: 10px;
  width: 500px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  background-color: #f6b1b1e3;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  
  border-color: #e6dddd;
  background-color: #e34b4be3;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  border-width: 1px;
}

.button:hover {
  background-color: #a92800;
}

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  
  margin-right: 40px;
  
}

.loader {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

/* Repos list styles */

.row {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(238, 225, 225);
  color: white;
  cursor: pointer;
  background-color: #f6b1b1e3;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 90%;
  /* max-width: 600px; */
}

.repo-name {
  font-size: 20px;
  color: #ffffff;
}



.repo-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  ;
  border-radius: 10px;
  color: black;
  width: 90%;
  width: 90%;

  padding: 40px;
  
  

}

.details-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: rgb(241, 241, 241);
}

.label {
  font-weight: bold;
  color: #ffffff;
}

.value {
  color: #ffffff;
}